<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Producto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>

<h1 th:if="${producto.id != null}">
    Modificar producto <span th:text="${producto.id}"></span>
</h1>
<h1 th:if="${producto.id == null}">Crear nuevo producto</h1>

<!-- con operador ternario -->
<!--<h1 th:text="${producto.id != null ? 'Modificar producto ' +
    producto.id : 'Crear nuevo producto'}" ></h1>-->

<form th:action="@{/productos}" method="post" th:object="${producto}">

    <!-- campo oculto para el id del producto -->
    <input type="hidden" th:field="*{id}"/>

    <div>
    <label for="nombre">Nombre del producto:</label>
    <input type="text" id="nombre" th:field="*{nombre}"
           placeholder="Ingrese el nombre del producto" required/>
    </div>
    <br/>

    <!--Comentarios copn CTRL + SHIFT + / TECLADO NUMERICO-->
    <!-- precio -->
    <div>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" th:field="*{precio}"
           step="0.01" min="0"
              placeholder="0.00" required/>
    </div>
    <br/>

    <!-- stock -->
    <div>
        <label for="stock">Stock:</label>
        <input type="number"
               id="stock"
               th:field="*{stock}"
               min="0"
               placeholder="0">
    </div>
    <br/>
    <!-- disponible -->
    <div>
        <input type="checkbox" id="disponible" th:field="*{disponible}"/>
        <label for="disponible">Producto Disponible</label>
    </div>
    <br/>


    <!-- categoría -->
    <div>
        <label for="categoria">Categoría:</label>
        <select id="categoria" th:field="*{categoria}">
            <option value="">Seleccione una categoría</option>
            <option th:each="cat : ${categorias}"
                    th:value="${cat.id}"
                    th:text="${cat.nombre}">
            </option>
        </select>
    </div>
    <br/>
    <!-- botones -->
    <div>
        <a th:href="@{/productos}">Cancelar</a>
        <button type="submit">
            <span th:if="${producto.id != null}">Actualizar</span>
            <span th:if="${producto.id == null}">Guardar</span>
            <!--Operador ternario-->
            <!-- <span th:text="${producto.id != null ? 'Actualizar' : 'Guardar'}"></span>-->
        </button>
        </div>

    </form>
</body>
</html>